<h2><%= @question.title %></h2>
<div class="d-flex justify-content-start mb-3">
  <span class="mr-auto text-muted">
    <span class="text-dark"><%= @question.user.name %></span> asked on
    <span class="text-dark"><%= local_time(@question.created_at) %></span>
  </span>
  <%= link_to 'Edit', edit_question_path(@question), class: '' if user_signed_in? && @question.owner?(current_user) %>
</div>
<div class="">
  <%= @question.content %>
</div>
<hr />
<ul class="list-unstyled mb-4" id="answers">
  <% @answers.each do |answer| %>
  <li class="media mb-2" data-id="<%= answer.id %>">
    <%= user_avatar(current_user, klass: 'mr-3')%>
    <div class="media-body">
      <div class="mb-1"><%= answer.content %></div>
      <p class="mt-0 mb-1 small"><%= answer.user.name %> answered <%= local_time_ago(answer.created_at) %></p>
    </div>
  </li>
  <% end %>
</ul>
<%= form_with(model: @answer, url: question_answers_path(question_id: @question.id)) do |form| %>
  <% if @answer.errors.any? %>
    <div class="alert alert-warning" id="error_explanation">
      <h6 class="">
        <%= pluralize(@answer.errors.count, "error") %> prohibited this answer from being saved:
      </h6>
      <ul>
      <% @answer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group">
    <%= form.label :content, 'Your answer' %>
    <%= form.text_area :content, id: :answer_content, class: 'form-control' %>
  </div>
  <% if user_signed_in? && !@question.owner?(current_user) %>
    <div class="actions">
      <%= form.submit 'Submit', class: 'btn btn-outline-success' %>
    </div>
  <% elsif @question.owner?(current_user) %>
    <div class="actions">
      <button class="btn btn-outline-secondary disabled" type="button">Submit</button>
    </div>
    <div class="alert alert-warning my-3 text-center">
      You are awesome, but you can't answer you own question
      <%= Emoji.find_by_alias("raised_hands").raw %>
    </div>
  <% else %>
    <div class="actions">
      <button class="btn btn-outline-secondary disabled" type="button">Submit</button>
    </div>
    <div class="alert alert-warning my-3 text-center">
      Sign up to answer questions, and be awesome!
      <%= Emoji.find_by_alias("raised_hands").raw %>
    </div>
  <% end %>
<% end %>
